* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow-x: hidden;
}
.app {
  min-height: 100%;
}
.skeleton {
  position: relative;
  background: #ddd;
  overflow: hidden;
  margin: 5px 0;
}

.skeleton::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 140px;
  top: 0%;
  left: 0%;
  background-image: linear-gradient(
    90deg,
    rgba(240, 240, 240, 0.5) 0px,
    #e8e8e8 40px,
    rgba(240, 240, 240, 0.5) 80px
  );
  background-size: 600px;
  animation: shine-avatar 1.6s infinite linear;
  transform: skew(-10deg);
}

.text {
  border-radius: 4px;
  width: 100%;
}
@keyframes shine-avatar {
  0% {
    left: 0%;
  }
  40%,
  100% {
    left: 100%;
  }
}
